@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');
body{
    margin: 0%;
    padding: 0%;
}
.inner-header{
    text-align: center;
    background: #16213e;
    height: 100px;   
}
.button{
    background: none;
    color: white;
    border: 1px solid white;
    margin-top: 14px;
    padding: 29px;
    margin-right: 42px;
}
.intro{
    background: url("bg-1.jpg") no-repeat center;
    text-align: center;
    overflow: hidden;
}
.intro p{
    font-size: 2cm;
    margin: 200px;
    color: white;
    font-family: 'Noto Sans JP', sans-serif;
}
.products{
    width: 100%;
}
.card{
    width:30%; 
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd; 
    border-radius: 4px; 
    float:left;
    margin-left:1%;
    overflow: hidden;
}
#green-button{
    color: white;
    font-size: 20px;
    background: green;
    border-radius: 8px;
    margin-left: 100px;
    padding: 8px 25px 8px 25px;
}
#details-button{
    color: white;
    font-size: 20px;
    background: blue;
    border-radius: 8px;
    margin-left: 100px;
    padding: 8px 25px 8px 25px;
}
#red-button{
    color: white;
    font-size: 20px;
    background: brown;
    border-radius: 8px;
    margin-left: 100px;
    padding: 8px 25px 8px 25px;
}
.water{
    float: left;
    width: 40%;
    background: rgb(128,128,128,0.2);
    margin-left: 97px;
    overflow: hidden;
}
.sun{
    float: right;
    width: 40%;
    background: rgb(128,128,128,0.2);
    margin-right: 82spx;
    overflow: hidden;
}
.parallex-center{
    margin-top: 1096px;
    background: url("bg-2.jpg");
}
.width{
    width: 60%;
    margin: auto;
    text-align: center;
}
#para-content{
    padding-bottom: 46px;
}
#para-heading{
    font-size: 41px;
    padding-top: 27px;
}
.contanier{
    overflow: hidden;
    width: 100%;
    height: 474px;
}
.card-1{
    background: rgb(128,128,128,0.2);
    width: 20%;
    float: left;
    margin-left: 40px;
    padding: 10px;
}
.center{
    text-align: center;
}
.div-cover{
    width: 80%;
    margin: auto;
    padding: 15px;
    background: rgb(128,128,128,0.2);
}
.div-cover img{
    width: 100%;
}
#big-column{
    width: 100%;
    margin-top: 20px;
}
.form{
    width: 100%;
    background: url("bg-3.jpg") no-repeat center;
    background-size: cover;
}
.form-content{
    text-align: center;
    font-size: 41px;
    color: white;
}
.box{
    width: 51%;
    margin: auto;
    text-align: center;
    border-radius: 8px;
    background: rgb(255, 255, 255,0.5);
    margin-top: -11px;
}
.form-text{
    width: 46%;
    margin: auto;
}
textarea{
    float: right;
    height: 59px;
    width: 280px;
    border-radius: 8px;
    background: rgb(255, 255, 255,0.5);
}
input{
    margin-top: 10px;
    border-radius: 8px;
    background: rgb(255, 255, 255,0.5);
    outline: none;
    border: none;
    height: 39px;
    width: 286px;
    margin-left: -30px;
}
#send{
    background: rgb(105,105,105);
    border: 1px solid white;
    color: white;
    padding: 11px 40px 11px 40px;
    border-radius: 13px;
    margin-top: 16px;
    margin-left: 65px;
}